<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>

<body id="LoginForm">
    <div class="jumbotron" style="width:500px;text-align: center; margin: auto;">
        <div>
            <div class="main-div">
                <h2>Login Page</h2>
                <form action="http://127.0.0.1:8080/login" method="post" id="Login">
                    <div class="form-group">
                        <input type="text" required class="form-control" name="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <input type="password" required class="form-control" name="password" placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>