<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>
<script>
    function deleteRecord(studentId) {
        document.getElementById("stdId").value = studentId;
        document.getElementById("deleteForm").submit();
    }

</script>

<body>

    <div class="container" style="text-align: center; margin: auto;">
        <h2>User Report</h2>
        <form action="http://127.0.0.1:8080/delete" method="post" id="deleteForm">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Student ID</th>
                        <th class="text-center">Department</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(user){ %>
                        <tr>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.studentId %>
                            </td>
                            <td>
                                <%= user.department %>
                            </td>
                            <td>
                                <a class='btn btn-primary' onclick="deleteRecord( <%= user.studentId %>)">Delete</a>
                            </td>
                        </tr>

                        <%  }); %>
                </tbody>
                <input type="hidden" id="stdId" name="stdId" value="" />
            </table>
        </form>
    </div>
</body>

</html>